doctype html
html(lang='en')
  head
    title Welcome
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            a.navbar-brand(href='#') NodeAuth
          ul.nav.navbar-nav
            li
              a(href='/') Members
            li
              a(href='/users/register') Register
            li
              a(href='/users/login') Login
          ul.nav.navbar-nav.navbar-right
           li
              a(href='/users/logout') Logout
    .container
     block content
     
    script(src='/javascripts/jquery-3.2.1.slim.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/bootstrap.js')