extends layout

block content
  h2.page-header Register
  p please register using the form below

  form(method='post', action='/users/login', enctype='mulipart/formdata')
  
    .form-group
    label UserName
    input.form-control(name='username', type='text', placeholder='Enter UserName')

    .form-group
    label Pasword
    input.form-control(name='password', type='password', placeholder='Enter Password')

    input.btn.btn-primary(type='submit', name='submit', value='Login')